# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
x64/
*.vsidx
*.lock
.vs/GraphicsEngine/v17/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.recipe
*.recipe
*.recipe
*.ilk
GraphicsEngine/x64/Debug/GraphicsEngine.tlog/CL.read.1.tlog
*.tlog
